/* common styles */
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.size{
    max-width: 1320px;
    margin: 0px auto;
}
.primary-color{
    color: #FF0000;
}
.section-title{
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    
}
/* header section */
.banner-container{
    background-image: url(../images/banner_image.png);
    width: 1320px;
    height: 600px;
    margin-top: 50px;
}
.banner-content{
    padding-top: 170px;
}
.banner-text{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
/* main-offer section */
.offer-section{
    width: 800px;
    height: 800px;
    margin: 0px auto;
    padding: 0 40px;
    text-align: center;
}
.offer-section-title{
    color: #FF0000;
    font-size: 65px;
    margin-bottom: 0;
    font-weight: 700;
}
.offer-deal-text{
    color: #FF0000;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 30px;
}
.offer-category-text{
    color: #070211;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 10px;
}
.welcome-section{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.welcome-text{
    margin: 40px 0px 70px 90px;
    color: #FFFFFF;
}
.welcome-title{
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
.welcome-massage{
    font-size: 20px;
    font-weight: 700;
}
.welcome-image{
    margin: 70px 90px 70px 90px;
}
.join-now{
    font-size: 18px;
    font-weight: 700;
    margin-left: 45px;
}
/* venue styles */
.venue{
    text-align: center;
    background-color: #fcd7d7;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.venue-text{
   font-size: 25px;
   font-weight: 700;
   margin-top: 0px;
   margin-bottom: 15px; 
}
.primary-button{
    background: #FF0000;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    margin-top: 35px;
    font-weight: 700;
}
.new-year-offer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.upcoming-offer{
    height: 393px;
    width: 255px;
}
.upcoming-offer-title{
    font-size: 16px;
    color: #FF0000;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 80px;
}
.upcoming-offer-heading{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 900;
    margin-top: 0px;
}
.upcoming-offer-text{
    font-size: 18px;
    color: #070211;
}
.new-year-offer-image{
    border: 10px solid #FF0000;
    border-radius: 250px;
    padding: 25px;
}
.current-year{
    height: 393px;
    width: 255px;
    margin-top: 70px;
}
.current-year-title{
    color: #FF0000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}
.current-year-text{
    font-size: 18px;
    color: #070211;
    margin-top: 15pxpx;
}
.current-year-image{
    height: 120px;
    width: 120px;
    margin-top: 20px;
}
/* holiday-offer-section */
.holiday-text-section{
    text-align: center;
}
.holiday-text-section>h2, p{
    margin: 0px;
}
.holiday-title{
    font-size: 12px;
}
.holiday-heading{
    font-size: 70px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    padding-bottom: 20px;
}
.holiday-heading-span{
    color: #FF0000;
}
.holiday-text-section>p{
    color: #070211;

}
.holiday-image-section{
    height: 662px;
    background-image: url(../images/Rectangle\ 2.png), url(../images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom, top right;
    margin-top: 40px;
}
.holiday-image-one{
    padding: 5px;
    height: 578px;
    width: 674px;
    margin-top: 60px;
}
.holiday-image-two{
    margin-bottom: 250px;
    margin-left: 50px;
}
/* portfolio section */
.protfolio-text{
    margin: 0px;
}
.portfolio-title{
    color: #FF0000;
    font-size: 16px;
    font-weight: 600;
}
.portfolio-heading{
    font-size: 35px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    margin-bottom: 0px;
}
.portfolio-details{
    color: #070211;
    font-size: 14px;
    margin-top: 10px;
}
.portfolio-image{
    margin-top: 30px;
}
.image-size{
    height: 450px;
    width: 424px;
    padding: 5px;
}


